:root {
  --sea-pink: #EB9893;
  --royal-blue: #4956DC;
  --shark: #24242C;
  --dodger-blue: #34C3FB;
  --cornflower-blue: #8B65F9;
  --cornflower-blue-2: #6393FB;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--shark);
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}